/OpcodeWriter/Scripts/OpcodeWriter*.pdb
/OpcodeWriter/Scripts/OpcodeWriter.exe
*.suo
*.user
.vs/*
bin/*
Debug/*
*/Debug/*
*/bin/*
*/obj/*
obj/*
*.orig
*.rej
*.patch
*.log
*.opensdf
*.sdf
*.rar
*.bak
*.vshost.exe
